@import _const

.skills 
    .skills-item
        padding: 0 3.5em 3.5em;
        .skills-item-text 
            color: $gray
            display: inline-block 
            width: 100%
            margin-bottom: 1em

@mixin mobile-skills()
    .skills 
        .skills-item
            padding: 0 1em 1em;