extends layouts/default 

block title 
    title Yussan Portofolio 

block content
    section.cover.grid
        img.logo(src='/dist/images/logo-transparent.png' alt='yussan logo')
        .col-12 
            h1 I'M YUSSAN 
            h2 A Web Engineer & tech blogger
        .col-12.home-navigation 
            ul.horizontal-list 
                li 
                    a(href="#skills") skills
                li 
                    a(href="#work-experience") work experience
                li 
                    a(href="#open-source-projects") Open Source Projects
                li 
                    a(href="#certifications") certifications
                li 
                    a(href="#events-contribution") events contribution
                li 
                    a(href="#connect") Connect