extends layouts/default 

block title 
    title Yussan Portfolio 

block content   
    //- conver grid    
    section.cover.grid
        img.logo(src='/dist/images/logo-transparent.png' alt='yussan logo')
        .col-12 
            h1 I'M YUSSAN 
            h2 A Web Engineer & tech blogger
        .col-12.home-navigation#home-navigation
            ul.horizontal-list 
                li 
                    a(href="#skills") skills
                li 
                    a(href="#work-experience") work experience
                li 
                    a(href="#open-source-projects") Open Source Projects
                li 
                    a(href="#certifications") certifications
                li 
                    a(href="#events-contribution") events contribution
                li 
                    a(href="#connect") Connect

    //- about grid
    section.home.about.bg-gray 
        p 
            | My name is "Yusuf Akhsan Hidayat", i am from DIY, Indonesia.
            br
            | I like to code some Javascript apps, contributing on Github open source repo and joining some tech competition.
            br 
            | For out of the world of programming, I like to write something about tech too.
            br
        span(style="font-style:normal;font-weight:normal") Yussan 2017
    //- skills grid
    include components/molecules/skills

    //- experiences
    include components/molecules/work-experiences

    //- opensource projects
    include components/molecules/opensource