extends layouts/default 

block title 
    title Yussan Portfolio 

block content   
    //- conver grid    
    section.cover.grid
        img.logo(src='/dist/images/logo-transparent.png' alt='yussan logo')
        .col-12 
            h1 I'M YUSSAN 
            h2 A Web Engineer & tech blogger
        .col-12.home-navigation#home-navigation
            ul.horizontal-list 
                li 
                    a(class="horizontal-list-to" id="to-skills" href="javascript:;" onclick="smoothScroll('skills')") Skills
                li 
                    a(class="horizontal-list-to" id="to-projects" href="javascript:;" onclick="smoothScroll('projects')") Projects
                li 
                    a(class="horizontal-list-to" id="to-work-experiences" href="javascript:;" onclick="smoothScroll('work-experiences')") Work Experiences
                li 
                    a(class="horizontal-list-to" id="to-open-source-projects" href="javascript:;" onclick="smoothScroll('open-source-projects')") Open Source Projects
                li 
                    a(class="horizontal-list-to" id="to-certifications" href="javascript:;" onclick="smoothScroll('certifications')") Certifications
                li 
                    a(class="horizontal-list-to" id="to-writings" href="javascript:;" onclick="smoothScroll('writings')") Writings
                li 
                    a(class="horizontal-list-to" id="to-connect" href="javascript:;" onclick="smoothScroll('connect')") Connect

    //- about grid
    section.home.about.bg-gray 
        p 
            | My name is "Yusuf Akhsan Hidayat", i am from DIY, Indonesia.
            br
            | I like to code some Javascript apps, contributing on Github open source repo and joining some tech competition.
            br 
            | For out of the world of programming, I like to write something about tech too.
            br
        span(style="font-style:normal;font-weight:normal") Yussan 2017
    //- skills grid
    include components/molecules/skills

    //- experiences
    include components/molecules/projects

    //- work experience
    include components/molecules/work-experience

    //- opensource projects
    include components/molecules/opensource

    //- certifications
    include components/molecules/certifications

    //- wiriting projects
    include components/molecules/writing
    
    //- available for frelance work
    section.cover.available#connect
        .grid-center
            .col-8_sm-12
                p.title I'm available for freelance job.
                p.subtitle If you have project that you want to start for your business or something else, then get in touch.
                ul.horizontal-list.contacts
                    li 
                        a(href="mailto:business.yussan@gmail.com" title="Contact via email")
                            img(src="/dist/images/email_icon.png")
                    li 
                        a(href="https://www.linkedin.com/in/yussan" title="Contact via Linkedin" target="_blank")
                            img(src="/dist/images/linkedin_icon.png")
                    li 
                        a(href="https://facebook.com/xyussanx" title="Contact via Facebook" target="_blank")
                            img(src="/dist/images/facebook_icon.png")
                    li
                        a(href="https://twitter.com/xyussanx" title="Contact via Twitter" target="_blank")
                            img(src="/dist/images/twitter_icon.png")
                    li
                        a(href="https://instagram.com/xyussanx" title="Contact via Instagram" target="_blank")
                            img(src="/dist/images/instagram_icon.png")
                    
                small
                    | &copy; 2017 - 2019 Yusuf Akhsan Hidayat 
                    br 
                    | Yogyakarta, Indonesia 

    script.
        let B= document.body; //IE 'quirks'
        let D= document.documentElement; //IE with doctype
        D = (D.clientHeight)? D: B;

        window.smoothScroll = (targetId='') => {
            const el = document.getElementById(targetId);
            el.scrollIntoView({
                behavior: 'smooth',
                block: 'start' 
                });
        }

        let timeoutSeNavbarActive
        const menus = document.querySelectorAll(".horizontal-list > li > a.horizontal-list-to")
        
        //- list of available target id's
        const sectionsIds = [
          "skills", "projects", "works", "open-source-projects", "certifications", "writings", "connect"
        ]
        window.sections = []
        sectionsIds.map(id => {
          el = document.getElementById(id)
          window.sections.push({
            id,
            start: el.offsetTop,
            end: el.offsetTop + el.clientHeight
          })
        })

        document.addEventListener("scroll", () => {
          //- clear timeout to set navbar active
          clearTimeout(timeoutSeNavbarActive)
          timeoutSeNavbarActive = setTimeout(() => {
            const pos = D.scrollTop
            for(n=0;n < window.sections.length;n++) {
              if(pos >= window.sections[n].start - 20 && pos <= window.sections[n].end - 20){
                for(let n=0;n<menus.length;n++) {
                  menus[n].classList.remove("active")
                }
                //- document.getElementById(to- + window.sections[n].id active)
                break
              }
              else if (pos < window.sections[0].start) {
                for(let n=0;n<menus.length;n++) {
                  menus[n].classList.remove("active")
                }
              }
            }
          }, 100)
        })

