extends layouts/default 

block title 
    title Yussan Portfolio 

block content   
    //- conver grid    
    section.cover.grid
        img.logo(src='/dist/images/logo-transparent.png' alt='yussan logo')
        .col-12 
            h1 I'M YUSSAN 
            h2 A Web Engineer & tech blogger
        .col-12.home-navigation#home-navigation
            ul.horizontal-list 
                li 
                    a(href="#skills") skills
                li 
                    a(href="#work-experience") work experience
                li 
                    a(href="#open-source-projects") Open Source Projects
                li 
                    a(href="#certifications") certifications
                li 
                    a(href="#events-contribution") events contribution
                li 
                    a(href="#connect") Connect

    //- about grid
    section.home.about.bg-gray 
        p 
            | My name is "Yusuf Akhsan Hidayat", i am from DIY, Indonesia.
            br
            | I like to code some Javascript apps, contributing on Github open source repo and joining some tech competition.
            br 
            | For out of the world of programming, I like to write something about tech too.
            br
        span(style="font-style:normal;font-weight:normal") Yussan 2017
    //- skills grid
    include components/molecules/skills

    //- experiences
    include components/molecules/work-experiences

    //- opensource projects
    include components/molecules/opensource

    //- wiriting projects
    include components/molecules/writing
    
    //- available for frelance work
    section.cover.available
        .grid-center
            .col-8_sm-12
                p.title I'm available for freelance job.
                p.subtitle If you have project that you want to start for your business or something else, then get in touch.
                ul.horizontal-list.contacts
                    li 
                        a(href="mailto:business.yussan@gmail.com" title="Contact Yussan via email")
                            img(src="/dist/images/contacts/email.png" alt="white email square logo")
                    li 
                        a(href="https://facebook.com/xyussanx" target="_blank" title="Contact Yussan via Facebook")
                            img(src="/dist/images/contacts/facebook.png" alt="white facebook square logo")
                    li 
                        a(href="https://twitter.com/xyussanx" target="_blank" title="Contact Yussan via Twitter")
                            img(src="/dist/images/contacts/twitter.png" alt="white twitter square logo")
                    li 
                        a(href="https://instagram.com/xyussanx" target="_blank" title="Contact Yussan via Instagram")
                            img(src="/dist/images/contacts/instagram.png" alt="white instagram square logo")
                    li 
                        a(href="https://www.linkedin.com/in/yussan" target="_blank" title="Contact Yussan via Linkedin")
                            img(src="/dist/images/contacts/linkedin.png" alt="white linkedin square logo")
                small
                    | &copy; 2017 - 2018 Yusuf Akhsan Hidayat 
                    br 
                    | Yogyakarta, Indonesia 