include ../atoms/cards 
section.home.skills#certifications
    .grid-center.bg-gray(style="margin-bottom: 1em")
        .col-6_sm-12.home-title 
            h2 Certifications and Awards
            h3 some certifications and awards i have
            
    - 
        let cert_data = [
            {
                title: 'Javascript on Sololearn',
                link: 'https://photos.google.com/share/AF1QipNzc8257LArpn0fjEer93Jblj896iiLyhaHvqn__d9nd5VcM2YMgPzH-s67eQ-0FA/photo/AF1QipMwiGJV6Ej8_FdRpM9jo2mEbRmcaZj1Qc4r-XjP?key=RHF3QmJwZS1QWmtLd2QyZ0tGQWJwSERydFE1dXF3',
                desc: 'License 1024-5331147. Issued 10 July 2017.',
                //- thumb: '/dist/images/works/sebangsa.png',
                as: 'Published by',
                year: '2017',
                dev: 'SoloLearn'
            },
            {
                title: 'Surat pencatatan penciptaan Linuxourse',
                link: 'https://photos.google.com/share/AF1QipNzc8257LArpn0fjEer93Jblj896iiLyhaHvqn__d9nd5VcM2YMgPzH-s67eQ-0FA/photo/AF1QipO2eDBWsYsbkZsMp2SN87zLAgAMRf2DeiLzYycs?key=RHF3QmJwZS1QWmtLd2QyZ0tGQWJwSERydFE1dXF3',
                desc: 'License C222201600005.  12 January 2016 until next 50 years.',
                //- thumb: '/dist/images/works/sebangsa.png',
                as: 'Published by',
                year: '2016 - 2056',
                dev: 'Republik Indonesia Kementrian Hukum dan Hak Asasi Indonesia'
            },
            {
                title: 'Nominate INAICTA 2015 category Education and culture',
                link: 'https://tekno.kompas.com/read/2015/09/10/12440007/Ini.Dia.Pemenang.Lomba.Aplikasi.Inaicta.2015',
                desc: 'With idmore team, we are creating some web app called Linuxourse, it\'s online learning platform to study about Linux and Linux shell, same as Codecademy',
                //- thumb: '/dist/images/works/sebangsa.png',
                as: 'Published by',
                year: '2016 - 2056',
                dev: 'Republik Indonesia Kementrian Komunikasi dan Informatika'
            },
            {
                title: 'Merrit AMICTA 2015 category Research and Development',
                link: 'https://photos.app.goo.gl/jRJStvrbPstqa29w6',
                desc: 'License 168/C/AMICTA-AMIKOM/VI/2015. With Id More team, we are creating some web app called Linuxourse, it\'s online learning platform to study about Linux and Linux shell, same as Codecademy',
                //- thumb: '/dist/images/works/sebangsa.png',
                as: 'Published by',
                year: '2016 - 2056',
                dev: 'Universitas Amikom Yogyakarta'
            },
            {
                title: 'Asisten Praktikum Terbaik Mata Kuliah Sistem Operasi Semester Genap 2012/2013',
                link: 'https://photos.app.goo.gl/xsMfQgyZKULtMgYk6',
                desc: '0947/FA/TI/STMIK AMIKOM/VI/2012.2013',
                as: 'Published by',
                year: '2012',
                dev: 'Universitas Amikom Yogyakarta'
            },
            {
                title: 'Asisten Praktikum Terbaik Mata Kuliah Hardware Software 1 Semester Genap 2012/2013',
                link: 'https://photos.app.goo.gl/F97LwDvzz6QhA2dn6',
                desc: '0948/FA/TI/STMIK AMIKOM/VI/2012.2013',
                as: 'Published by',
                year: '2012',
                dev: 'Universitas Amikom Yogyakarta'
            },
            {
                title: 'Certificate of Appreciation BEM STMIK Amikom Yogyakarta "Android Writing Competition"',
                link: 'https://amikom.ac.id',
                desc: 'License 03/A/LKTA/BEM/3/2012. Year 2012.',
                //- thumb: '/dist/images/works/sebangsa.png',
                as: 'Published by',
                year: '2015',
                dev: 'BEM Universitas Amikom Yogyakarta'
            }
        ]
    .container
        .grid
            each n in cert_data
                + card-work(n) 
