include ../atoms/cards 
section.home.skills
    .grid-center.bg-gray(style="margin-bottom: 1em")
        .col-6_sm-12.home-title 
            h2 Open Source
            h3 I love to contribute in open source projects
            
    .container
            - 
                let myprojects = [
                    {
                        title: 'NPM String Manager',
                        desc: 'NPM dependency to manage your string',
                        link: 'https://www.npmjs.com/package/string-manager',
                        thumb: '/dist/images/opensources/npm logo.png'
                    },
                    {
                        title: 'Grunt Pug Sass Boilerplate',
                        desc: 'Let\'s build some Grunt+Pug+Sass projects',
                        link: 'https://github.com/yussan/grunt-pug-sass-boilerplate',
                        thumb: '/dist/images/opensources/github logo.png'
                    },
                    {
                        title: 'React Redux Isomorphic App',
                        desc: 'Server rendering and request using React + Redux + Express',
                        link: 'https://github.com/yussan/react-redux-isomorphic-boilerplate',
                        thumb: '/dist/images/opensources/github logo.png'
                    },
                    {
                        title: 'Exploration Service Worker',
                        desc: 'Let\'s get started with Service Worker',
                        link: 'https://github.com/yussan/exploration-service-worker',
                        thumb: '/dist/images/opensources/github logo.png'
                    },
                    {
                        title: 'WIP: react-form-master',
                        desc: 'Form generator and validation for ReactJS based on props',
                        link: 'https://www.npmjs.com/package/react-form-master',
                        thumb: '/dist/images/opensources/npm logo.png'
                    },
                    {
                        title: 'WIP: top-loader',
                        desc: 'lightweight top-loader for web',
                        link: 'https://www.npmjs.com/package/top-loader',
                        thumb: '/dist/images/opensources/npm logo.png'
                    },
                    {
                        title: 'docker-nodejs-boilerplate',
                        desc: 'Build Node JS project using Docker',
                        link: 'https://github.com/yussan/docker-nodejs-boilerplate',
                        thumb: '/dist/images/opensources/github logo.png'
                    }
                ]
                let mycontributions = [
                    {
                        title: 'Hacktoberfest 2017 by Digital Ocean',
                        desc: 'Contributed to some open source projects in Github full month on October 2017.',
                        link: 'https://blog.digitalocean.com/hacktoberfest-2017',
                        thumb: '/dist/images/opensources/hacktoberfest-2017.jpg'
                    },
                    {
                        title: 'Publish React Component',
                        desc: 'Boilerplate for publishing react component to npm, With testing and storybook!',
                        link: 'https://github.com/damaera/publish-react-component',
                        thumb: '/dist/images/opensources/github logo.png'
                    },
                ]
            include ../atoms/cards
            .grid-3-center 
                .col-12.align-center 
                    h3 Projects That I Started 
                each n in myprojects 
                    +card-opensource(n)

            .grid-3-center 
                .col-12.align-center 
                    h3 Projects That I Contributed 
                each n in mycontributions 
                    +card-opensource(n)
                
            P