section.home.skills#skills
    - 
        let programming = [
            {text: 'ES6 + NodeJS', score: 4},
            {text: 'CoffeeScript', score: 4},
            {text: 'PHP', score: 4},
            {text: 'Python', score: 4},
            {text: 'Ruby', score: 3}
        ]

        let js = [
            {text: 'Vanilla JS', score: 4.5},
            {text: 'React', score: 4.5},
            {text: 'Express', score: 4.5},
            {text: 'Restify', score: 4.5},
            {text: 'Redux', score: 4},
            {text: 'Vue', score: 4.5},
            {text: 'Other libraries', score: 4}
        ]

        let frameworks = [
            {text: 'Pug + Sass', score: 4},
            {text: 'Laravel', score: 4},
            {text: 'Flask', score: 4},
            {text: 'Rails', score: 3}
        ]


        let tools = [
            {text: 'Webpack', score: 4},
            {text: 'Gulp / Grunt', score: 4}
        ]

        let extra = [
            {text: 'SEO', score: 4},
            {text: 'Firebase', score: 4},
            {text: 'PasS', score: 4},
            {text: 'NGINX', score: 4},
            {text: 'Docker', score: 4}
        ]
    .container
        .grid 
            .col-12.home-title 
                h2 Skills
        .grid
            include ../atoms/cards
            +card-skills('Language Programming', programming)
            +card-skills('JS Frameworks and Libs', js)
            +card-skills('Non JS Frameworks & Libs', frameworks)
            //- +card-skills('Database', db)
            +card-skills('Dev Tools', tools)
            +card-skills('Extra', extra)