include ../atoms/cards 
section.home.skills
    .grid-center.bg-gray(style="margin-bottom: 1em")
        .col-6_sm-12.home-title 
            h2 Work Experiences
            h3 Here are some of my experiences in the world of work
            
    - 
        let data = [
            {
                title: 'Sebangsa Web v2 - v3', 
                link: 'https://sebangsa.com',
                desc: 'Indonesian social media for community',
                thumb: '/dist/images/works/sebangsa.png',
                as: 'web frontend',
                at: 'PT Sebangsa Bersama',
                year: '2015 - 2016',
                dev: 'ReactJS + ReactRouter + Reflux + etc'
            },
            {
                title: 'Oopsreview.com', 
                link: 'https://oopsreview.com',
                desc: 'Blog software review',
                thumb: '/dist/images/works/oopsreview.png',
                as: 'web fullstack',
                at: 'Id More',
                year: '2016',
                dev: 'Nodejs + Ghost CMS + MySQL'
            },
            {
                title: 'Aidpost v2', 
                link: 'https://aidpost.org',
                desc: 'Platform to connnect aid community arround the world',
                thumb: '/dist/images/works/aidpost.png',
                as: 'web frontend',
                at: 'Canada - Freelancer',
                year: '2015 - 2016',
                dev: 'ReactJS + Lumen + restful client + etc'
            },
            {
                title: 'Kompetisi.id v4', 
                link: 'https://kompetisi.id',
                desc: 'Indonesian online competition platform',
                thumb: '/dist/images/works/kompetisiid.png',
                as: 'web frontend',
                at: 'Id More',
                year: '2014 - 2017',
                dev: 'Nodejs + ReactJS + ReactRouter + Redux + Firebase + Restful'
            },
            {
                title: 'TECS Web', 
                link: '#',
                desc: 'Online shop of "Time Excelindo Computer Shop" Yogyakarta',
                thumb: '/dist/images/works/tecs.png',
                as: 'web fullstack',
                at: 'TECS Yogyakarta',
                year: '2014',
                dev: 'Codeigniter + MySQL + etc'
            },
            {
                title: 'LKMA Asih Lestari - finance system',
                link: 'https://yussanblog.blogspot.co.id/2015/04/sistem-keuangan-untuk-lkma-asih-lestari.html',
                desc: 'Finance system of LKMA Asih Lestari Kulon Progo', 
                thumb: '/dist/images/works/lkmaasihlestari.png',
                as: 'web fullstack',
                at: 'LKMA Asih Lestari, Kulon Progo',
                year: '2014',
                dev: 'Codeigniter + MySQL + etc'
            },
            {
                title: 'BDA Jaya - POS and Inventory',
                link: 'https://yussanblog.blogspot.co.id/2015/04/cerita-2-bulan-mengerjakan-web.html',
                desc: 'Point of sale and Inventory system of "BDA Jaya" Lampung', 
                thumb: '/dist/images/works/bdajaya.png',
                as: 'web fullstack',
                at: 'WK Group Lampung',
                year: '2013',
                dev: 'Codeigniter + MySQL + etc'
            },
            {
                title: 'Linuxourse', 
                link: 'https://www.youtube.com/watch?v=45TSnhiSq5k&t=15s',
                desc: 'Learn Linux without install Linux', 
                thumb: '/dist/images/works/linuxourse.png',
                as: 'web fullstack',
                at: 'Youngs Computer',
                year: '2013',
                dev: 'Codeigniter + AngularJS 1 + MySQL'
            },
            {
                title: 'Youngs Computer v1', 
                link: 'https://www.youngscomputer.com',
                desc: 'Online shop of Youngs Computer Yogyakarta', 
                thumb: '/dist/images/works/youngs.png',
                as: 'web fullstack - no db',
                at: 'Youngs Computer',
                year: '2013',
                dev: 'Codeigniter'
            },
            {
                title: 'SMAN 1 Depok Babarsari E-learning based on Social Media v1', 
                link: 'https://yussanblog.blogspot.co.id/2015/03/selesai-juga-e-learning-berbasis-sosial.html',
                desc: 'E-learning based on Social Media for SMAN 1 Babarsari, DIY', 
                thumb: '/dist/images/works/sman1depok.png',
                as: 'web fullstack',
                at: 'SMAN 1 Depok Babarsari',
                year: '2012',
                dev: 'Codeigniter + MySQL + etc'
            },
            {
                title: 'WK Group - online rental',
                link: 'https://yussanblog.blogspot.co.id/2014/08/3-bulan-mengerjakan-proyek-web.html',
                desc: 'Online rental party equipment of "Wk Group" Sleman', 
                thumb: '/dist/images/works/wkgroup.png',
                as: 'web fullstack',
                at: 'BD Jaya',
                year: '2012',
                dev: 'Codeigniter + MySQL + etc'
            }
        ]
    .container
        .grid
            each n in data
                + card-work(n) 
